<div class="container">
	<div class="row row-cols-1 row-cols-md-3">
	<% @inventories.each do |inventory| %>
		<div class="col mb-4">
			<div class="card">
		  	<img src="..." class="card-img-top" alt="...">
	  		<div class="card-body">
	    		<h5 class="card-title"><%= inventory.inventory_type%></h5>
	    		<p class="card-text"><%= inventory.stock %></p>
			  </div>
			</div>
		</div>
	<% end %>
	</div>
</div>