<div>
  <tr>
    <td valign="middle" class="hero bg_white" style="padding: 2em 0 2em 0;">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td style="padding: 0 2.5em; text-align: left;">
            <p>Dear Inventory Admin, </p>
            <div class="text">
              <h2>New Dealer Registration</h2>

              <p>This is to inform you that <b> <%= @first_name %> <%= @last_name %> </b> has registered as a new user for the inventory.</p>

              <p>Please review the user's details and ensure they have the necessary access and permissions for managing the inventory.</p>

              <p>Thank you for your attention to this matter.</p>
            </div>
          </td>
        </tr>

        <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
          <td valign="middle" width="80%" style="text-align:left; padding: 0 2.5em;">
            <div class="text">
              <br/>
              <p><b>Best Regards,</b></p>
              <p>Mike Miles</p>
              <p>Your App Team</p>
              <br/>
              <p class="bg_white"><b>Please Note:</b> This is an automated message. Please do not reply to this email directly.</p>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</div>
