<div>
  <tr>
    <td valign="middle" class="hero bg_white" style="padding: 2em 0 2em 0;">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td style="padding: 0 2.5em; text-align: left;">
            <h2>Dear <%= "#{@first_name} #{@last_name}" %>,</h2>
            <div class="text">
              <p>Congratulations and a warm welcome to the Inventory Cars family! 🎉 We're thrilled to have you on board and look forward to the exciting journey ahead.</p>

              <p>Your decision to sign up for our services is a significant step toward convenience, reliability, and a seamless experience with your inventory management. We are committed to providing you with top-notch solutions and exceptional service.</p>

              <p>Here's what you can look forward to as a member of the Inventory Cars community:</p>

              <p><b>1. Effortless Inventory Management:</b> Say goodbye to the hassle of manual tracking and welcome the simplicity of our user-friendly system.</p>

              <p><b>2. Streamlined Business Operations:</b> Our services are designed to enhance your efficiency, so you can focus on what you do best.</p>

              <p><b>3. Dedicated Support:</b> We're here to assist you every step of the way. If you ever have questions or need assistance, our team is just a message or call away.</p>

              <p><b>4. Continuous Improvement:</b> We are committed to evolving and improving our services to meet your changing needs.</p>

              <p>Once again, congratulations on choosing Inventory Cars! We're excited about the future and can't wait to see how our services will benefit your business.</p>
              
              <p>If you have any questions or need further information, please don't hesitate to reach out. We're here to help.</p>
              
              <p>Thank you once more for your decision to join us at Inventory Cars. We eagerly anticipate the opportunity to engage in a fruitful business relationship with you. We will promptly notify you upon approval, and we look forward to the prospect of conducting business together.</p>
            </div>
          </td>
        </tr>

        <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
          <td valign="middle" width="80%" style="text-align:left; padding: 0 2.5em;">
            <div class="text">
              <br/>
              <p><b>Best Regards,</b></p>
              <p>Mike Miles</p>
              <p>Founder & CEO</p>
              <p>Inventory Cars</p>
              <br/>
              <p class="bg_white"><b>Please Note:</b> This is an automated message. Please do not reply to this email directly.</p>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</div>
