<h2>Dear <%= "#{@first_name}" " #{@last_name}" %></h2>

<p>I hope this email finds you well. We have some exciting news to share with you! Your account with Inventory Cars has been approved and we're trilled to officially welcome you to our platform.</p>

<p>As a member of the Inventory Cars community, you now have access to a powerful inventory management solution that will streamline your  operations, or receive dedicated support, we're here to make it happen.</p>

<p>To get started, please click on the folowing link to access our secure portal:</p>

<p>[Inventory Cars Portal]</p>

<p>(http://portal.inventorycars.com/users/sign_in)</p>

<p>Once you sign in you'll be able to upload your car inventories and information, making them available for trading with ease.</p>

<p>To acccas your personalized portal, please use your registered email address as your username. Click on the</p>

<%=link_to "Forgot your password", edit_user_password_url(reset_password_token: @token), html_options = { style: "font-weight: bold" } %>

<p> button to initiate the password-setting process.
Once your password is set, you can log in to your portal, and you will be ready to begin uploading.</p>


<p> Thank you for choosing Inventory Cars as your trusted partner in inventory management. We're excited about the journey ahead and can't wait to see your business thrive with our services.</p>

<p>Should you need anything, please don't hesitate to reach out. We're here to assist you every step of the way.</p>


<p>Best regards,</p>
<p>Mike Miles</p>
<p>Founder & CEO</p>
<p>Inventory Cars</p>
<p>209.273.9668</p>
<p>Email#3</p>
