<head>
  <title>Welcome to Inventory Cars</title>
  <style>
    body {
      margin: 20px;
    }
  </style>
</head>
<body>
    <h2>Dear <%= "#{@first_name}" " #{@last_name}" %></h2>

    <p>Congratulations and a warm welcome to the Inventory Cars family! 🎉 We're thrilled to have you on board and look forward to the exciting journey ahead.</p>

    <p>Your decision to sign up for our services is a significant step toward convenience, reliability, and a seamless experience with your inventory management. We are committed to providing you with top-notch solutions and exceptional service.</p>

    <p>Here's what you can look forward to as a member of the Inventory Cars community:</p>

    <p>1. **Effortless Inventory Management:** Say goodbye to the hassle of manual tracking and welcome the simplicity of our user-friendly system.</p><Br>

    <p>2. **Streamlined Business Operations:** Our services are designed to enhance your efficiency, so you can focus on what you do best.</p><Br>

    <p>3. **Dedicated Support:** We're here to assist you every step of the way. If you ever have questions or need assistance, our team is just a message or call away.</p><Br>

    <p>4. **Continuous Improvement:** We are committed to evolving and improving our services to meet your changing needs.</p><Br>

    <p>Once again, congratulations on choosing Inventory Cars! We're excited about the future and can't wait to see how our services will benefit your business.</p><Br>
    
    <p>If you have any questions or need further information, please don't hesitate to reach out. We're here to help.</p><Br>
    
    <p>Thank you once more for your decision to join us at Inventory Cars. We eagerly anticipate the opportunity to engage in a fruitful business relationship with you. We will promptly notify you upon approval, and we look forward to the prospect of conducting business together.</p><Br>
    
    <p>Best regards,</p>
    <p>Mike Miles</p>
    <p>Founder & CEO</p>
    <p>Inventory Cars</p>

</body>

