<footer class="py-4 mt-auto float-bottom" style="background-color: #000000;">
  <div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted">Copyright &copy; Your Website <%= Time.now.strftime("%Y") %></div>

      <div>
        <%= link_to 'Admin Login', new_admin_session_path %>
          &middot;
        <a href="#">Privacy Policy</a>
          &middot;
        <a href="#">Terms &amp; Conditions</a>
      </div>
    </div>
  </div>
</footer>
