- if current_user.present?
  footer.fixed.bottom-0.w-full.bg-gray-900.shadow.z-40
    .max-w-screen-xl.mx-auto.flex.flex-wrap.items-center.justify-center.text-sm.font-medium.text-gray-400.p-4
      | © 2023
