<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <img src="<%= image_path("inventory_cars.png")%>" width="100" height="100" class="d-inline-block align-top sizeImage" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="user-nav">
      <li class="nav-item">
        <a class="user-nav-link active" href="/">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="user-nav-link" href="/inventories">Inventory</a>
      </li>
      <li class="nav-item">
        <a class="user-nav-link" href="/inventories/upload_csv">Upload Inventory </a>
      </li>
      <li class="nav-item">
        <a class="user-nav-link" href="#">Deals</a>
      </li>
    </ul>
    <a class="navbar-brand bg-light" href="#"><%= link_to "Sign out", destroy_admin_session_path, data: { "turbo-method": :delete, turbo: true } %></a>  
  </div>
</nav>	