<div class="border border-light float-left rounded" style="width: 280px;">
    <h3 class="subheading m-3 fw-bold text-dark">Filter</h3>
    <div class="row m-3">
        <div class="col-md-12">
            <div class="form-group img-custom shadow">
                <label class="text-dark m-2 border border-light text-dark p-2 fw-bold">Brand</label>
                <div class="m-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="mercedes" name="brand" value="mercedes">
                        <label class="form-check-label text-dark" for="mercedes">Mercedes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" id="bmw" name="brand" value="bmw">
                        <label class="form-check-label text-dark" for="bmw">BMW</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="audi" name="brand" value="audi">
                        <label class="form-check-label text-dark" for="audi">Audi</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="porsche" name="brand" value="porsche">
                        <label class="form-check-label text-dark" for="porsche">Porsche</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="ford" name="brand" value="ford">
                        <label class="form-check-label text-dark" for="ford">Ford</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="toyota" name="brand" value="toyota">
                        <label class="form-check-label text-dark" for="toyota">Toyota</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col-md-12">
            <div class="form-group img-custom shadow">
                <label class="text-dark m-2 border border-light text-dark p-2 fw-bold">Price</label>
                <input type="range" id="price" name="price" min="0" max="60000" value="">
                <span class="form-check-label text-dark ms-4" id='priceValue'></span>
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col-md-12">
            <div class="form-group img-custom shadow">
                <label class="text-dark m-2 border border-light text-dark p-2 fw-bold">Year</label>
                <div class="m-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="year2022" value="2022">
                        <label class="form-check-label text-dark" for="year2022">2022</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="year2021" value="2021">
                        <label class="form-check-label text-dark" for="year2021">2021</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="year2020" value="2020">
                        <label class="form-check-label text-dark" for="year2020">2020</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="year2019" value="2019">
                        <label class="form-check-label text-dark" for="year2019">2019</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col-md-12">
            <div class="form-group img-custom shadow">
                <label class="text-dark m-2 border border-light text-dark p-2 fw-bold">Transmission</label>
                <div class="m-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="manual" value="manual">
                        <label class="form-check-label text-dark" for="manual">Manual</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="automatic" value="automatic">
                        <label class="form-check-label text-dark" for="automatic">Automatic</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col-md-12">
            <div class="form-group img-custom shadow">
                <label class="text-dark m-2 border border-light text-dark p-2 fw-bold">Engine Type</label>
                <div class="m-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="engine2L" value="2L">
                        <label class="form-check-label text-dark" for="engine2L">2.0L</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="engine3L" value="3L">
                        <label class="form-check-label text-dark" for="engine3L">3.0L</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="engine4L" value="4L">
                        <label class="form-check-label text-dark" for="engine4L">4.0L</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col-md-12">
            <div class="form-group img-custom shadow">
                <label class="text-dark m-2 border border-light text-dark p-2 fw-bold">Miles Driven</label>
                <div class="m-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="milesBelow25K" value="<25000">
                        <label class="form-check-label text-dark" for="milesBelow25K">Below 25,000</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="miles25Kto70K" value="25000-70000">
                        <label class="form-check-label text-dark" for="miles25Kto70K">25,000 - 70,000</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col-md-12">
            <div class="form-group img-custom shadow">
                <label class="text-dark m-2 border border-light text-dark p-2 fw-bold">Fuel Type</label>
                <div class="m-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="petrol" value="petrol">
                        <label class="form-check-label text-dark" for="petrol">Petrol</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="diesel" value="diesel">
                        <label class="form-check-label text-dark" for="diesel">Diesel</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="hybrid" value="hybrid">
                        <label class="form-check-label text-dark" for="hybrid">Hybrid</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="electric" value="electric">
                        <label class="form-check-label text-dark" for="electric">Electric</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3 mt-2">
        <div class="col-md-12">
            <button type="submit" class="btn btn-outline-success">Apply Filter</button>
        </div>
    </div>
</div>
