@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

/* this hides up/down arrow keys in number input field */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .only-bottom-border {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
  }
}

@layer components {
  .btn {
    @apply text-white hover:text-yellow-500 shadow hover:shadow-yellow-500 text-center border border-gray-800 hover:border-transparent rounded bg-transparent
  }
  .my-input {
    @apply appearance-none only-bottom-border border-yellow-500 text-yellow-500 bg-transparent focus:border-yellow-500 focus:ring-0
  }
  .my-border {
    @apply bg-gray-900 border border-yellow-500 rounded-lg shadow-md hover:shadow-yellow-500 dark:border-yellow-500 dark:bg-gray-900
  }
}

.ts-wrapper {
  @apply appearance-none bg-transparent border only-bottom-border border-yellow-500 w-full !text-yellow-500 leading-tight ;

}

.ts-control {
  @apply !appearance-none !bg-gray-900 !border !border-none !w-full !py-2 !px-3 !text-yellow-500 !leading-tight;
  &>input {
    @apply !appearance-none !text-yellow-500 !text-base;
  }
}

.ts-dropdown {
  @apply !rounded !bg-gray-900 !border-black !text-yellow-500 !z-50;

  .selected {
    @apply !bg-black !text-yellow-500;
  }
  .active {
    @apply !bg-black !text-yellow-500;
  }
}

