<div>
  <tr>
    <td valign="middle" class="hero bg_white" style="padding: 2em 0 2em 0;">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td style="padding: 0 2.5em; text-align: left;">
            <div class="text">
              <h2>Dear  <%= "#{@first_name} #{@last_name}" %></h2>
              <p>We're excited to inform you that you've just received an offer on your <%= @inventory_model_name %></p>
              <p>A Customer has expressed interest in purchasing your item and has submitted an offer of $ <%= @offer_price %>.</p>
            </div>
          </td>
        </tr>
        <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
          <td valign="middle" width="80%" style="text-align:left; padding: 0 2.5em;">
            <div class="text">
              <p>We recommend checking this offer out as soon as possible. You can access your app and manage the offer directly.</p>
              <br/>
              <p><b>Happy selling!</b></p>
              <p>The Inventory Cars Team </p>
              <br/>
              <p class="bg_white"><b>Please note:</b> This is a system-generated message. You cannot reply directly to this email</p>
            </div>
          </td>
        </tr>
      </table>
    </td> 
  <tr>
    <table class="bg_white" role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">    
    </table>
  </tr>
</div>