<div>
  <tr>
    <td valign="middle" class="hero bg_white" style="padding: 2em 0 2em 0;">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td style="padding: 0 2.5em; text-align: left;">
            <div class="text">
              <h2>Hi <%= "#{@first_name} #{@last_name}" %>,</h2>
              <p>Thank you for submitting your proposal on Model <b><%= @inventory_model_name %></b> and expressing your interest.</p>
              <p>While the seller has decided not to accept your current offer at this time, we encourage you to stay connected!</p>
              <p>We recommend checking the "Offers" section within your app periodically for any potential opportunities.</p>
            </div>
          </td>
        </tr>

        <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
          <td valign="middle" width="80%" style="text-align:left; padding: 0 2.5em;">
            <div class="text">
              <br/>
              <p><b>Best of luck in your buying journey!</b></p>
              <p>The Inventory Cars Team </p>
              <br/>
              <p class="bg_white"><b>Please Note:</b> This is an automated message. Please do not reply to this email directly.</p>
            </div>
          </td>
        </tr>
      </table>
    </td> 
  <tr>
    <table class="bg_white" role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">    
    </table>
  </tr>
</div>
