</div>
  <tr>
    <td valign="middle" class="hero bg_white" style="padding: 2em 0 2em 0;">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td style="padding: 0 2.5em; text-align: left;">
            <div class="text">
              <h2>Dear <%= "#{@first_name} #{@last_name}" %>,</h2>
              <p>Your offer of <b>$ <%= @offer_price %></b> on Model <b><%= @inventory_model_name %></b> has been accepted by the seller!</p>
              <p>This means you're well on your way to acquiring this fantastic item.</p>
              <p>Our team will shortly be in touch to facilitate communication between you and the seller. We'll provide you with the seller's contact information to arrange any necessary details.</p>
              <p>We're excited for you and wish you a smooth and successful transaction!</p>
            </div>
          </td>
        </tr>

        <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
          <td valign="middle" width="80%" style="text-align:left; padding: 0 2.5em;">
            <div class="text">
              <br/>
              <p><b>Best Regards,</b></p>
              <p>The Inventory Cars Team </p>
              <br/>
              <p class="bg_white"><b>Please Note:</b> This is an automated message. Please do not reply to this email directly.</p>
            </div>
          </td>
        </tr>
      </table>
    </td> 
</div>
